@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0 auto;
}
body {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  text-align: center;
  background: linear-gradient(180deg, #429792 12.67%, #99D8D4 100.16%, #F3F3F3 106.03%);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 20px;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: #999;
}

/* --------------------- NavBar Styles ---------------------- */

.Navbar .Navbar.Toggle .Navbar.Collapse .NavDropDown {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0) !important;
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/* ------------------------------------------------------------- */

.btn-grid {
  color: #FFFFFF;
  display: table-row;
  width: auto;
  gap: 100px;
  margin: 0 auto;
  max-height: contain;
  font-family: Montserrat;
  font-style: normal;
  text-align: left;
  }

    /* ------this is doing nothing------- */

  #option-buttons {
    font-family: Montserrat;
    font-style: normal;
    color: #FFFFFF;
    text-align: left;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0) !important;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  }

  .options {
    font-family: Montserrat;
    font-style: normal;
    color: #FFFFFF;
    text-align: left;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0) !important;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  }

/* tryin to get option buttons to be transparent without using Buttons because then it affects all the bootstrap buttons throughout the app */


.start-btn {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 300px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  color: #810F5D;
  background: #FFFFFF;
  border-collapse: separate;
  perspective: 1px;
  border-radius: 8px;
  outline: none;
  clip-path: polygon(8% 39%, 92% 39%, 99% 50%, 92% 63%, 8% 63%, 1% 50%);
}

.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn {
  width: 75px;
  height: 44px;
  white-space: normal;
  background: #5CB8B2;
  border-radius: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  float: left;
}

.back-btn {
  width: 125px;
  height: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #429792;
  border-radius: 32px;
  float: center;
  box-shadow: none;
  outline: none;
}

.startContainer {
  max-height: 100%;
  display: inline-block;
  justify-content: center;
  align-items: flex-end;
  /* border: 1px solid black; */

  align-items: flex-end;
  /* border: 1px solid black; */
}

.splashContainer {
margin: 0 auto;
}

h1 {
  left: 20.05%;
  right: 5.8%;
  top: 29.91%;
  bottom: 55.02%;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 45px;
  /* or 87% */
  
  text-align: right;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.questionStyles {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  text-align: left;
  line-height: 30px;

}

.optionStyles {
  font-family: Montserrat;
  font-style: normal;
text-align: left;
border-width: 0px;
-webkit-box-shadow: 0px 0px;
box-shadow: 0px 0px;
background-color: rgba(0,0,0,0.0) !important;
background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);

}

h2 {
  left: 28.99%;
  right: 5.8%;
  top: 46.21%;
  bottom: 42.08%;
  
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  text-align: right;
  
  color: #810F5D;
}

.noWrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

a {
  background-color: transparent;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  color: #810F5D;
  text-decoration: none !important;
  color: #810F5D !important;
  -webkit-text-decoration-skip: objects;
}
a:active {
  color: #810F5D !important;
  text-decoration: none !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  color: #810F5D;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0) !important;
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
a:hover {
  color: #810F5D !important;
  text-decoration: none !important;
  outline-width: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  color: #810F5D;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0) !important;
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/* -------------- Modal Styles -------------- */

.modal-backdrop {
  background-color: rgb(18, 63, 61);
}

.modal {
  padding: 10em 2em;
  margin-left: 15px;
  border-radius: 10px;
}

.modal-header {
  background-color: rgb(143, 2, 101);
  color: white;
  font-size: 10px;
  padding: 0.5em, 1.5em;
  text-align: center;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 20px
}

.modal-body {
  overflow-y: scroll;
}

.modal-footer {
  display: inline-block;
  margin: 0 auto;
  white-space: nowrap;
}

/* -------------------------------- */

main{
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  /* border: 1px solid red; */
}
