@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia;
  padding: 0;
  margin: 0;
}

/* #html2canvas-container { width: 3000px !important; height: 3000px !important; } */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0 auto;
}
body {
  margin: 0 auto !important;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: linear-gradient(
    180deg,
    #429792 12.67%,
    #99d8d4 100.16%,
    #f3f3f3 106.03%
  );
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 20px;
  overflow: hidden;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ Mobile Styles $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* -----------------------------------Splash Page Styles------------------------------------------ */
.unicron {
  background-image: url(../images/Unicorn.png);
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  transform: translate(-37%, -6%) scale(1.1);
  width: 100vw;
  height: 80vh;
  color: #999;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@media screen and (max-width: 376px) {
  .container {
    transform: translate(0%, 0%) !important;
    width: auto;
    max-height: 80%;
    margin: 0 auto;
    color: #999;
  }
  .start-btn {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 320px;
    height: 75px;
    background: #ffffff;
    border-collapse: separate;
    perspective: 1px;
    border-radius: 10px;
    outline: 0px;
    border: none;
    z-index: 10;
    clip-path: polygon(7% 5%, 93% 5%, 99% 50%, 93% 95%, 7% 95%, 1% 50%);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }

  .start-btn a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 20px;
    color: #810f5d;
  }

  .start-btn a:active {
    color: #810f5d;
    text-decoration: none;
  }

  .start-btn a:hover {
    color: #810f5d;
    cursor: pointer;
    text-decoration: none;
  }

  .startContainer {
    height: fit-content;
    width: auto;
    top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .splashContainer {
    margin: 0 auto;
    -webkit-animation: bounceInRight 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: bounceInRight 2s; /* Firefox < 16 */
    -ms-animation: bounceInRight 2s; /* Internet Explorer */
    -o-animation: bounceInRight 2s; /* Opera < 12.1 */
    animation: bounceInRight 2s;
    padding-top: 0%;
  }
}

.container {
  transform: translate(0, 50%);
  width: auto;
  max-height: 80%;
  margin: 0 auto;
  color: #999;
}

.start-btn {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 75px;
  background: #ffffff;
  border-collapse: separate;
  perspective: 1px;
  border-radius: 10px;
  outline: 0px;
  border: none;
  transform: translate(0%, 350%);
  z-index: 10;
  clip-path: polygon(7% 5%, 93% 5%, 99% 50%, 93% 95%, 7% 95%, 1% 50%);

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.start-btn a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  color: #810f5d;
}
.start-btn a:active {
  color: #810f5d;
  text-decoration: none;
}

.start-btn a:hover {
  color: #810f5d;
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.1, 1.1);
}

.startContainer {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: canter;
  transform: translate(0, 20%);
  /* border: 1px solid black; */

  align-items: flex-end;
  /* border: 1px solid black; */
}

.splashContainer {
  margin: 0 auto;

  -webkit-animation: bounceInRight 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounceInRight 2s; /* Firefox < 16 */
  -ms-animation: bounceInRight 2s; /* Internet Explorer */
  -o-animation: bounceInRight 2s; /* Opera < 12.1 */
  animation: bounceInRight 2s;
}

#title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 45px;
  text-align: right;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: #ffffff;
}

#subTitle {
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  text-align: right;
  color: #810f5d;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #ffffff;
}

/* ------------------------------------- Menu Styles ---------------------------------------------- */

#logoButton {
  background-image: url(https://i.ibb.co/2nVm0Y3/Rational-Unicorn-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0px;
  outline: none;
  transform: translate(30%, 20%);
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
  z-index: 3000;
}

#logoButton:hover {
  border: none;
  outline: 0px;
  cursor: pointer;
  transform: translate(50%, 40%) scale(1.2, 1.2);
}

#logoButton:active {
  border: none;
  outline: 0px;
}

#flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1) !important;
  overflow: scroll;
  z-index: 1000;
}

#flyoutMenu.hide {
  transform: translateX(-100vw);
}

#flyoutMenu.show {
  transform: translateX(0vw);
  overflow: hidden;
}

#flyoutMenu h2 a {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0em;
  line-height: 0.8em;
  text-transform: none;
  color: #b0b0b0;
  margin-left: 5vw;
  margin-top: 5vh;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
}

#flyoutMenu h2 a:hover {
  color: #810f5d;
  transform: scale(1.2, 1.2);
}

.icon-font {
  color: #810f5d;
  height: 32px;
  width: 32px;
}

.menu-footer {
  color: #b0b0b0;
  position: absolute;
  bottom: 3%;
  left: 0;
  width: 100%;
  height: 23vh;
  padding: 3vh 5vw 3vh 5vw;
  text-align: left;
}

.footer-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20px !important;
  line-height: 25px !important;
  /* color: #810f5d; */
}

.footer-body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bolder;
  font-size: 15px !important;
  line-height: 25px !important;
  /* color: #810f5d; */
}

/* -------------------------------------Helper.js Styles-------------------------------------------- */

.pathwayContainer {
  max-width: 80%;
  margin: 0 auto;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#questionStyles {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 33px;
  letter-spacing: -0.5px;
  color: #ffffff;
  transform: translate(0, 15%);
}

#option-buttons {
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.nav-btns {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;

  -webkit-animation: bounceInUp 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounceInUp 2s; /* Firefox < 16 */
  -ms-animation: bounceInUp 2s; /* Internet Explorer */
  -o-animation: bounceInUp 2s; /* Opera < 12.1 */
  animation: bounceInUp 2s;
}

.home-btn {
  width: 75px;
  height: 44px;
  white-space: normal;
  background: #5cb8b2;
  border: none;
  border-radius: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  float: left;
}

.home-btn:hover {
  background-color: rgb(18, 63, 61);
  color: #ffffff;
}
.home-btn:active {
  background-color: rgb(18, 63, 61);
  color: #ffffff;
}
.home-btn:focus {
  outline: 0px;
  text-decoration: none;
}
.navbar-toggler:focus {
  outline: 0px;
}

.back-btn {
  width: 125px;
  height: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #429792;
  border: none;
  border-radius: 32px;
  float: center;
  box-shadow: none;
  outline: none;
  margin: 0 20px 0 20px;
}

.back-btn:hover {
  background-color: rgb(18, 63, 61);
  color: #ffffff;
}
.back-btn:active {
  background-color: rgb(18, 63, 61);
  color: #ffffff;
}
.back-btn:focus {
  outline: 0px;
  text-decoration: none;
}

.option-btn {
  padding: 0 5%;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-style: normal;
  text-align: left;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.option-btn:focus {
  outline: 0px;
  text-align: left;
  margin: 0 auto;
  padding: 5% 10%;
  width: 80vw;
  height: 80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #810f5d;
  background: #ffffff;
  border-collapse: separate;
  perspective: 1px;
  border-radius: 10px;
  outline: none;
  clip-path: polygon(7% 5%, 93% 5%, 99% 50%, 93% 95%, 7% 95%, 1% 50%);
}
.option-btn:hover {
  outline: 0px;
  text-align: left;
  margin: 0 auto;
  padding: 5% 10%;
  width: 80vw;
  height: 80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #810f5d;
  background: #ffffff;
  border-collapse: separate;
  perspective: 1px;
  border-radius: 10px;
  outline: none;
  clip-path: polygon(7% 5%, 93% 5%, 99% 50%, 93% 95%, 7% 95%, 1% 50%);
}

/* ----------------------------------- RESULTS STYLES------------------------------------------- */

#splashContainer-alt {
  margin: 0 auto;
  padding-top: 0%;
}

#title-alt {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 45px;
  text-align: right;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: #ffffff;
}

#subTitle-alt {
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  text-align: right;
  color: #ffffff;
  opacity: 0.6;
}
.results-container {
  margin-left: 0;
  transform: translate(0px, -20px);
  position: relative;
}

.results-head {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #810f5d;
}
.results-li {
  text-align: left;
  list-style-type: none;
  position: relative;
  padding-left: 30px;
  padding-right: 0%;
  font-family: "Montserrat";
  font-style: normal;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  white-space: normal;
}

.results-li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 25px !important;
  width: 25px !important;
  display: block;
  border-radius: 50%;
  background-image: url(../images/icon_circle-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 1;
}

.page-link {
  background-color: #ffffff81 !important;
  color: #810f5d !important;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  line-height: 16px !important;
  border-radius: 50% !important;
}

/* .page-item {
  opacity: 0.8 !important;
} */

.end-btn1 {
  text-align: left;
  margin: 0 auto;
  padding: 0 10%;
  width: 250px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  color: #810f5d;
  background: #ffffff;
  border-collapse: separate;
  /* perspective: 1px; */
  border-radius: 10px;
  outline: 0px;
  border: none;
  z-index: 10;
  white-space: nowrap;
  clip-path: polygon(0% 5%, 93% 5%, 99% 50%, 93% 95%, 0% 95%, 0% 50%);
  transform: translate(0px, -20px);

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}
.end-btn1::focus {
  outline: 0px;
  border: none;
  text-decoration: none;
}

.end-btn2 {
  text-align: left;
  margin: 0 auto;
  padding: 0 10%;
  width: 250px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  color: #810f5d;
  background: #ffffff;
  border-collapse: separate;
  /* perspective: 1px; */
  border-radius: 10px;
  outline: 0px;
  border: none;
  z-index: 10;
  transform: translate(0%, 20%);
  white-space: nowrap;
  clip-path: polygon(0% 5%, 93% 5%, 99% 50%, 93% 95%, 0% 95%, 0% 50%);
  transform: translate(0px, -20px);

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}
.end-btn2::focus {
  outline: 0px;
  border: none;
  text-decoration: none;
}

.end-btn1-text {
  text-align: left;
  margin: 0 auto;
  padding: 0 10%;
  width: 250px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  color: #810f5d;
  transform: translate(-18%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.end-btn2-text {
  text-align: left;
  margin: 0 auto;
  padding: 0 10%;
  width: 250px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  color: #810f5d;
  transform: translate(-15%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* ----------------------------------- Modal Styles ---------------------------------------------- */

.modal-content {
  transform: translate(5%, 0%);
}
.modal-backdrop {
  background-color: rgb(23, 105, 101);
}

.modal {
  padding: 10em 2em;
  margin-left: 0;
  border-radius: 10px;
  max-width: 99vw;
}

.modal-header {
  background-color: rgb(143, 2, 101);
  color: white;
  font-size: 10px;
  padding: 0.5em;
  text-align: center;
}

.modal-title {
  flex-direction: column;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
}

#question-head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.modal-body {
  overflow-y: auto;
  max-width: 80vw;
  border-bottom: 0 none;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.modal-footer {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto !important;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top: 0px !important;
}

.noWrap {
  max-width: inherit;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* -----------------------------------------HELP MODAL STYLES--------------------------------------------*/

.info-head {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

strong {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #810f5d;
}

/* ---------------------------------------EMAIL MODAL STYLES------------------------------------------- */

#email-head {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  transform: translate(0%, 80%);
  text-transform: uppercase;
  color: #ffffff;
}

#email-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #c9e3e2;
}

#email-subTitle {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #c9e3e2;
}

#email-body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
}

.email-li {
  text-align: left;
  list-style-type: none;
  position: relative;
  padding-left: 15%;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
  white-space: nowrap;
}

.email-li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 25px;
  width: 25px;
  display: flex;
  background-image: url(https://raw.githubusercontent.com/eyecuelab/rational-unicorn/modal/src/images/arrow-purple.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}

.referral-text{
  text-align: center;
  list-style-type: none;
  position: relative;
  padding-left: 0%;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
  white-space: normal;
}
.referral-link{
  text-align: left;
  list-style-type: none;
  position: relative;
  padding-left: 0%;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #810f5d;
  white-space: normal;
}

.form-inline {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.form-control {
  box-sizing: border-box !important;
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
  align-items: center !important;
  width: 100% !important;
  height: calc(1.5em + 0.75rem + 2px) !important;
  background: #ffffff !important;
  border: 1px solid #439893 !important;
  border-radius: 0.25rem !important;
  display: inline-block !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-clip: padding-box !important;
}

.newsLink {
  color: #810f5d;
  margin-left: 7%;
  text-align: center;
  line-height: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
}

.newsLink:hover {
  transform: scale(1.2) !important;
  color: #810f5d;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
}
.newsLink:active {
  color: #810f5d;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
}

.text-muted {
  color: #6c757d !important;
  white-space: nowrap;
}

/* -------------------------------------------Misc Styles------------------------------------------------------- */

a {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  color: #810f5d;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
a:active {
  color: #810f5d;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  color: #810f5d;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
start-btn a:hover {
  color: #810f5d;
  text-decoration: none;
  outline-width: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  color: #810f5d;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

main {
  max-height: 100%;
  margin: 0 auto;
  padding: 0;

  /* border: 1px solid red; */
}

li {
  list-style-type: none;
  position: relative;
  padding-left: 10px;
}

li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0.6;
}

/* ------------------------------ Animation Key-Frames ------------------------------------------ */

/* ----------------------------------------Fade-In */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----------------------------------------------Bounce-In-Up */

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Firefox < 16 */
@-moz-keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Internet Explorer */
@-ms-keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Opera < 12.1 */
@-o-keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ------------------------------------------ Bounce-In-Right */

@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

/* Firefox < 16 */
@-moz-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

/* Internet Explorer */
@-ms-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

/* Opera < 12.1 */
@-o-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

/*------------------------------------------------------Bounce-In-Down*/

@keyframes bounceInDown {
  0% {
     opacity: 0;
     -webkit-transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     -webkit-transform: translateY(30px);
  }
  80% {
     -webkit-transform: translateY(-10px);
  }
  100% { 
     -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes bounceInDown {
  0% {
     opacity: 0;
     transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateY(30px);
  }
  80% {
     transform: translateY(-10px);
  }
  100% {
     transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
     opacity: 0;
     -webkit-transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     -webkit-transform: translateY(30px);
  }
  80% {
     -webkit-transform: translateY(-10px);
  }
  100% { 
     -webkit-transform: translateY(0);
  }
}

@-ms-keyframes bounceInDown {
  0% {
     opacity: 0;
     transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateY(30px);
  }
  80% {
     transform: translateY(-10px);
  }
  100% {
     transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
     opacity: 0;
     transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateY(30px);
  }
  80% {
     transform: translateY(-10px);
  }
  100% {
     transform: translateY(0);
  }
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ Tablet Styles $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

@media screen and (min-width: 460px) {
  .unicron {
    background-image: url(../images/Unicorn.png);
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    transform: translate(0%, -6%) scale(1.1);
    width: 100vw;
    height: 80vh;
    color: #999;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }

  .start-btn {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 320px;
    height: 75px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 20px;
    color: #810f5d;
    background: #ffffff;
    border-collapse: separate;
    perspective: 1px;
    border-radius: 10px;
    outline: 0px;
    border: none;
    transform: translate(30%, 120%);
    z-index: 10;
    clip-path: polygon(7% 5%, 93% 5%, 99% 50%, 93% 95%, 7% 95%, 1% 50%);

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }

  #title-alt {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 45px;
    text-align: right;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    transform: translate(10%, 0%) scale(0.7);
    color: #ffffff;
  }
  #subTitle-alt {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: right;
    color: #ffffff;
    opacity: 0.6;
    transform: translate(10%, -40%) scale(0.7);
  }
  .results-container {
    margin-left: 0;
    transform: translate(0%, -22%) scale(1);
  }

  .end-btn1 {
    text-align: left;
    margin: 0 auto;
    padding: 0 10%;
    width: 250px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: #810f5d;
    background: #ffffff;
    border-collapse: separate;
    /* perspective: 1px; */
    border-radius: 10px;
    outline: 0px;
    border: none;
    z-index: 10;
    white-space: nowrap;
    clip-path: polygon(0% 5%, 93% 5%, 99% 50%, 93% 95%, 0% 95%, 0% 50%);

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
  }

  .end-btn2 {
    text-align: left;
    margin: 0 auto;
    padding: 0 10%;
    width: 250px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: #810f5d;
    background: #ffffff;
    border-collapse: separate;
    /* perspective: 1px; */
    border-radius: 10px;
    outline: 0px;
    border: none;
    z-index: 10;
    transform: translate(0%, 20%);
    white-space: nowrap;
    clip-path: polygon(0% 5%, 93% 5%, 99% 50%, 93% 95%, 0% 95%, 0% 50%);

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
  }
  .option-btn:focus {
    outline: 0px;
    text-align: left;
    margin: 0 auto;
    padding: 1%;
    width: 400px;
    height: 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #810f5d;
    background: #ffffff;
    border-collapse: separate;
    perspective: 1px;
    border-radius: 10px;
    outline: none;
    clip-path: polygon(7% 5%, 93% 5%, 99% 50%, 93% 95%, 7% 95%, 1% 50%);
  }
  .option-btn:hover {
    outline: 0px;
    text-align: left;
    margin: 0 auto;
    padding: 1%;
    width: 400px;
    height: 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #810f5d;
    background: #ffffff;
    border-collapse: separate;
    perspective: 1px;
    border-radius: 10px;
    outline: none;
    clip-path: polygon(7% 5%, 93% 5%, 99% 50%, 93% 95%, 7% 95%, 1% 50%);
  }
}

.modal-footer {
  display: flex;
  margin: 0 auto;
  min-height: 100px;
  width: 100%;
  white-space: normal;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1 none;
}

.noWrap {
  min-width: 100%;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ Small Desktop Styles $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

@media screen and (min-width: 570px) {
  .navNoWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .results-container {
    margin-left: 0;
    transform: translate(0%, -55%) scale(1);
  }

  .end-btn1-text {
    text-align: left;
    margin: 0 auto;
    padding: 0 10%;
    width: 250px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: #810f5d;
    transform: translate(-40%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .end-btn2-text {
    text-align: left;
    margin: 0 auto;
    padding: 0 10%;
    width: 250px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: #810f5d;
    transform: translate(-37%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  #option-buttons {
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    max-height: 50px;
  }

  #email-form {
    max-width: inherit;
    margin: 0 auto;
    transform: translate(-10%, -20%);
  }
}

@media screen and (min-width: 670px) {
  .option-btn:focus {
    display: flex;
    width: 400px;
    height: 80px;
    align-items: center;
    padding: 2% 10% 2% 5%;
    margin: 0 auto;
    transform: translate(-20%, 0%);
  }
  .option-btn:hover {
    display: flex;
    width: 400px;
    height: 80px;
    align-items: center;
    padding: 2% 10% 2% 5%;
    margin: 0 auto;
    transform: translate(-20%, 0%);
  }
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ Square Desktop Styles $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

@media screen and (min-width: 800px) {
  #title-alt {
    transform: translate(-10%, 60%) scale(1.2);
  }

  #subTitle-alt {
    transform: translate(-10%, 100%) scale(1.2);
  }

  .splashContainer {
    transform: translate(0%, -30%) scale(1);
    z-index: -1;
  }

  .resultUnicron {
    background-image: url(../images/Unicorn.png);
    position: absolute;
    width: inherit;
    z-index: -1;
    background-repeat: no-repeat;
    transform: translate(20%, -70%) scale(1.2);
    width: 100vw;
    height: 80vh;
    color: #999;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }

  .unicron {
    transform: translate(10%, -5%) scale(1.2);
  }

  .start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: translate(70%, 80%);
  }

  .option-btn:focus {
    transform: translate(-30%, 0%);
    width: 400px;
    height: 80px;
  }
  .option-btn:hover {
    transform: translate(-30%, 0%);
    width: 400px;
    height: 80px;
  }
}

@media screen and (min-width: 900px) {
  .option-btn:focus {
    padding: 5%;
    transform: translate(0%, 0%);
    width: 500px;
    height: 100px;
  }
  .option-btn:hover {
    /* padding: 7% 10% 7% 6%; */
    transform: translate(0%, 0%);
    width: 500px;
    height: 100px;
  }
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ Wide Desktop Styles $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

@media screen and (min-width: 1100px) {
  .splashContainer {
    transform: translate(-18%, -10%) scale(1.5);
    z-index: -1;
  }

  .start-btn {
    position: absolute;
    transform: translate(-5%, -90%);
  }

  .unicron {
    transform: translate(10%, -5%) scale(1.2);
  }

  .option-btn:focus {
    transform: translate(-60%, 0%);
    width: 400px;
    height: 80px;
  }
  .option-btn:hover {
    transform: translate(-60%, 0%);
    width: 400px;
    height: 80px;
  }
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ PDF Styles $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.PDF-format {
  background: linear-gradient(
    180deg,
    #429792 12.67%,
    #99d8d4 100.16%,
    #f3f3f3 106.03%
  );
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 600px;
  min-width: 100%;
  overflow: visible;
  padding-top: 20%;
  padding-left: 0%;
  white-space: normal;
  transform: translate(-1px, 0%);
  position: relative;
}

.pdf-unicorn {
  background-image: url(../images/Unicorn.png);
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  width: 123%;
  overflow: auto;
  height: 100%;
  color: #999;
  transform: translate(0%, -31%) scale(0.5) scaleX(-1);
}

.unicorn-hide {
  display: none;
}

.alt-top-head {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  transform: translate(20px, -35px);
}

.top-head-hide {
  display: none;
}

.alt-head {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #810f5d;
  transform: translate(20px, -35px);
}
.alt-text {
  text-align: left;
  list-style-type: none;
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  transform: translate(20px, -35px);
}
.alt-text-hide {
  display: none;
}

.btn-hide {
  display: none;
}

.alt-li {
  text-align: left;
  list-style-type: none;
  position: relative;
  padding-left: 15%;
  padding-right: 36%;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  white-space: normal;
  transform: translate(0px, -35px);
}

.alt-li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 15px !important;
  width: 15px !important;
  display: block;
  z-index: 500;
  border-radius: 50%;
  background-image: url(../images/icon_circle-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 1;
  transform: translate(20px, 0%);
}

.footer-hide {
  display: none;
}

.PDF-footer {
  background-color: #810f5d;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 5% 5% 30% 5%;
  text-align: left;
}

.PDF-footer-title {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
}

.PDF-footer-body {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: lighter;
  font-size: 6px;
  line-height: 10px;
  color: #ffffff;
}

.pdf-hr {
  margin-top: -10px !important;
  margin-bottom: 2% !important;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.spinnerz {
  background: linear-gradient(
    180deg,
    #429792 12.67%,
    #99d8d4 100.16%,
    #f3f3f3 106.03%
  );
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 5000;
  /* width: 100vw; */
  /* height: 100vh; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.spin-position {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: auto;
  height: 50vh;
}

.loader-head {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.6;
  text-align: center;

  -webkit-animation: bounceInDown 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounceInDown 1s; /* Firefox < 16 */
  -ms-animation: bounceInDown 1s; /* Internet Explorer */
  -o-animation: bounceInDown 1s; /* Opera < 12.1 */
  animation: bounceInDown 1s;
}

.spinner1.spinner1 {
  animation-delay: 0.01s;
}
.spinner2.spinner2 {
  animation-delay: 0.1s;
}
.spinner3.spinner3 {
  animation-delay: 0.2s;
}
.spinner4.spinner4 {
  animation-delay: 0.3s;
}
